

.intro-container {
    color: rgb(42, 128, 150);
    margin-top: 40px;
    padding-bottom: 50px;
}

.logo-image {
    width: 220px;
    height: 220px;
    position: absolute;
    left: 90px;
    top: -115px;
}
.logo-image-marsden {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

.social-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
}

.fb-icon:hover,
.weixin-icon:hover,
.ins-icon:hover,
.twitter-icon:hover {
    padding: 0;
}

.sign-up-now {
    margin-bottom: 20px;
    font-weight: bold;
}

.register-image {
    padding: 0 60px;
    margin-top: 20px;
}

.step-image img {
    width: 80px;
}

.register-button:hover {
    background: rgb(99, 151, 230);
    border: 3px solid rgb(99, 151, 230);;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
}

.register-button {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 2em;
    width: 190px;
    height: 50px;
    border: 3px solid white;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.close-register-button {
    font-size: 25px;
    position: absolute;
    z-index: 1;
    right:0;
    top:0;
}

.signup-button {
    display: block;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 900;
    background-color: #4f6df5;
    width: 80%;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.signup-button:hover {
    background-color: #113cfa;
}

@media (min-width: 992px) {

    
}