.detail-box-container {
    padding-top: 150px;
}

.detail-box {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.detail-item-container {
    padding-top: 20px;
    padding-bottom: 50px;
}

.detail-item:nth-child(even) {
    background-color: rgb(219, 219, 221);
}

.highlight-header {
    color:  rgb(7, 79, 233);
}

.secondary-header {
    color: rgb(243, 106, 14);
}

.space-between-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bg-img-container {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    background: url("https://image.freepik.com/free-vector/modern-abstract-background_1048-1003.jpg");
}

.non-img-container {
    padding: 10px;
    margin: 20px;
}

.adjust-container {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.add-icon-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.bg-img-container label {
    padding-top: 15px;
}

.personal-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.currentIcon {
    line-height: 7;
}

.empty-image {
    width: 100%;
}

.marsden-student {
    width: 100%;
    padding: 10px;
}

.course-image {
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
}

.see-detail {
    border-radius: 10px;
    background: rgb(248, 160, 28);
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 0;
}

.clear-search {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: rgb(11, 236, 206);
    border-radius: 4px;
    border: 1px solid darkgray;
    margin-left: 5px;
}