
.enrolled-detail {
    margin-top: 50px;
}

.enrolled-detail div {
    margin-top: 10px;
}

.enrolled-detail label {
    color: rgb(40, 66, 114);
    font-weight: bold;
}

.enrolled-detail span {
    color: black;
    font-weight: bold;
}