.welcome-image {
    width: 100%;
}
.home-image {
    max-height: 40vh;
    width: 100%;
    padding: 0;
}

.image-intro {
    background-color: rgb(4, 142, 255);
    color: white;
    padding-top: 30px;
}

.img-nav-wrapper {
    text-align: center;
}

.slogan {
    margin-top: 60px;
    margin-bottom: 60px;
}