

.input-wrapper {
    text-align: center;
    margin-bottom: 15px;
}

.password-input {
    margin: 10px 0;
}

.input-box {
    display: inline-block;
    border-radius: 3px;
}

.login-box .input-box {
    background-color: transparent;
}


/* .login-box .input-box::-moz-placeholder {
    color: rgb(241, 235, 150)
}
.login-box .input-box::-webkit-input-placeholder {
    color: rgb(241, 235, 150)
}
.login-box .input-box::-ms-input-placeholder {
    color: rgb(241, 235, 150)
}

.login-box .input-box {
    color: rgb(241, 235, 150)
} */

.login-box .input-box::-moz-placeholder {
    color: black
}
.login-box .input-box::-webkit-input-placeholder {
    color: black
}
.login-box .input-box::-ms-input-placeholder {
    color: black
}

.login-box .input-box {
    color: black;
}

.login-box {
    margin-bottom: 70px;
}

.register-box {
    opacity: 0.9;
    background-color: white;
    width: 94vw;
    margin: 0 auto;
    border-radius: 10px;
}

.register-box-right {
    background: linear-gradient(-134deg,#3023ae,#c86dd7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.register-box input{
    margin-top: 5px;
}

.register-box .confirm-button {
    margin-left: auto;
    background-color:white;
}

.message-box {
    background-image: radial-gradient(circle at right,white,rgb(224, 168, 13));
    width: 100%;
    border-radius: 5px;
    /*height: 30px*/;
    margin: 0 auto;
}

.message-box h4 {
    display: inline-block;
    margin-right: 5px;
    color: white;
    padding-left: 50px;
}
.message-box i {
    color: black
}

/*-----------  Font Awesome -----------*/
.fa-user-circle {
    color: rgb(20, 171, 241);
}

.fa-font {
    color: rgb(18, 228, 63);
}

.fa-phone {
    color: rgb(243, 213, 43);
}

.fa-key {
    color: rgb(236, 49, 59);
}


@media (min-width: 415px) {

    .register-box {
        width: 400px;
    }    

    .input-box {
        background-color: transparent;
    }

    .login-box .input-box {
        background-color: transparent;
    }

    .password-input {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .register-box {
        width: 720px;
    }    

    .register-box-right {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
}
