.nav-bar {
    width: 100%;
    background-color: rgb(40, 66, 114);
    color: white;
}

.nav-bar a {
    color: white;
}

.nav-bar a:hover {
    color: black;
}

.nav-bar ul {
    margin: 0;
}

.nav-bar li {
    display: inline-block;
    margin-right: 6px;
}

.burger-menu-wrapper:hover {
    cursor: pointer;
}

.burger-menu-wrapper {
    margin-left: auto;
}

.burger-menu {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}


.side-menu-wrapper {
    background-color: rgb(40, 66, 114);
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 45px;
    width: 200px;
    height: 100%;
}

.side-menu-wrapper div {
    padding-left: 50px;
    margin-top: 40px;
}

.side-menu-wrapper a:hover {
    color: black;
}

.side-menu-wrapper a{
    color: white;
}
