* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
.confirm-button {
  color: black;
  background-color: cyan;
  border-radius: 5px;
}

.more-button {
  color: black;
  background-color: rgb(240, 236, 10);
  border-radius: 5px;
}

.delete-button {
  color: black;
  background-color: rgb(243, 69, 69);
  border-radius: 5px;
}

.delete-secondary-button {
  color: black;
  background-color: rgb(216, 112, 112);
  border-radius: 5px;
}


.add-button {
  color: black;
  background-color: rgb(79, 235, 126);
  border-radius: 5px;
}

.error-message {
  color: rgb(243, 69, 69);
}

.body-container {
  min-height: calc(100vh - 20px);
  padding-bottom: 30px;
}

.background-img {
  background: url("./image/Terminal.jpg");
  background-size: cover;
  background-color: #bbb9b9a6;
  background-blend-mode: multiply;
  /* background-color: rgb(206, 205, 205);
  background-blend-mode: multiply; */
}

.background-img-shadow {
  background: url("./image/Terminal.jpg");
  background-size: cover;
  background-color: #bbb9b9a6;
  background-blend-mode: multiply;
}

.footer-container {
  height: 20px;
}

ul li {
  list-style: none;
}

.adjust-delete-button {
  margin-top: 35px;
}

.adjust-container {
  margin-top: 40px;
  padding: 10px;
}